<div class="container">
    <div class="box">
        <a routerLink="observal-practical"><button >Observable</button></a>
        <span class="count">1</span>
    </div>
    <div class="box">
        <a routerLink='subject'><button>Subject</button></a>
        <span class="count">2</span>
    </div>
    <div class="box">
        <a routerLink='behavior'><button>Behavior Subject</button></a>
        <span class="count">3</span>
    </div>
    <div class="box">
        <a  routerLink='replay'><button>Replay Subject</button></a>
        <span class="count">4</span>
    </div>
    <div class="box">
        <a routerLink='async'><button>Async Subject</button></a>
        <span class="count">5</span>
    </div>
    <div class="box">
        <a routerLink='creation'><button>Creation observables</button></a>
        <span class="count">6</span>
    </div>
    <div class="box">
        <a routerLink='rxjs-operators/combination'><button>Combination/Join operators</button></a>
        <span class="count">7</span>
    </div>
    <div class="box">
        <a routerLink='rxjs-operators/filtering'><button>Filtering Operators</button></a>
        <span class="count">8</span>
    </div>
    <div class="box">
        <a routerLink='rxjs-operators/transformation'><button>transformation Oparators</button></a>
        <span class="count">9</span>
    </div>
    <div class="box">
        <a href="#"><button>click Here</button></a>
        <span class="count">10</span>
    </div>
</div>