<div class="container1 h-100">
<div class="row d-flex justify-content-between ">
    <div class="bx col-lg-3 col-md-4 col-sm-6">
        <a routerLink="observal-practical"><button>Observable</button></a>
        <span class="count">1</span>
    </div>
    <div class="bx col-3 col-md-4 col-sm-6">
        <a routerLink='subject'><button>Subject</button></a>
        <span class="count">2</span>
    </div>
    <div class="bx col-3 col-md-4 col-sm-6">
        <a routerLink='behavior'><button>Behavior Subject</button></a>
        <span class="count">3</span>
    </div>
    <div class="bx col-3 col-md-4 col-sm-6">
        <a routerLink='replay'><button>Replay Subject</button></a>
        <span class="count">4</span>
    </div>
</div>
<div class="row d-flex justify-content-between ">

    <div class="bx col-3 col-md-4 col-sm-6">
        <a routerLink='async'><button>Async Subject</button></a>
        <span class="count">5</span>
    </div>

    <div class="bx col-3 col-md-4 col-sm-6">
        <a routerLink='../../rxjs-operators/creation'><button>Creation observables</button></a>
        <span class="count">6</span>
    </div>

    <div class="bx col-3 col-md-4 col-sm-6">
        <a routerLink='../../rxjs-operators/combination'><button>Combination/Join operators</button></a>
        <span class="count">7</span>
    </div>

    <div class="bx col-3 col-md-4 col-sm-6">
        <a routerLink='../../rxjs-operators/filtering'><button>Filtering Operators</button></a>
        <span class="count">8</span>
    </div>
</div>
<div class="row d-flex justify-content-between ">

    <div class="bx col-3 col-md-4 col-sm-6">
        <a routerLink='../../rxjs-operators/transformation'><button>transformation Oparators</button></a>
        <span class="count">9</span>
    </div>

    <div class="bx col-3 col-md-4 col-sm-6">
        <a href="#"><button>click Here</button></a>
        <span class="count">10</span>
    </div>
    <div class="bx col-3 col-md-4 col-sm-6">
        <a href="#"><button>click Here</button></a>
        <span class="count">10</span>
    </div>
    <div class="bx col-3 col-md-4 col-sm-6">
        <a href="#"><button>click Here</button></a>
        <span class="count">10</span>
    </div>
</div>
</div>