<aside class="sidebar">
    <!-- Logo -->
    <header class="logo">
      <span class="logo-icon fa-solid fa-c"></span>
      <h3 class="logo-text mt-0 mb-0 ml-3">Courses</h3>
    </header>
    <!-- End: Logo -->

    <!-- Navigation -->
    <nav class="nav-wrapper" aria-label="Navigation">
      <div class="mb-4">
        <span class="nav-title">Menu</span>
        <ul class="nav-list">
          <li class="nav-item active">
            <a href="#" class="nav-link">
              <span class="nav-icon fa-solid fa-book-bookmark"></span>
              <span class="nav-text">My Courses</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="nav-icon fa-solid fa-table-list"></span>
              <span class="nav-text">Browse Courses</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="nav-icon fa-solid fa-list-check"></span>
              <span class="nav-text">My Categories</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="nav-icon fa-solid fa-envelope"></span>
              <span class="nav-text">My Messages</span>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <span class="nav-title">Groups</span>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="nav-icon text-orange fa-regular fa-circle"></span>
              <span class="nav-text">UI/UX</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="nav-icon text-purple fa-regular fa-circle"></span>
              <span class="nav-text">Industrial Design</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="nav-icon text-pink fa-regular fa-circle"></span>
              <span class="nav-text">Architecture</span>
            </a>
          </li>
        </ul>
      </div>
      <a href="#" class="nav-link link-add-more">
        <span class="nav-icon fa-solid fa-plus"></span>
        <span class="nav-text">Add group</span>
      </a>
    </nav>

    <a href="#" class="nav-link link-theme">
      <span class="nav-icon fa-solid fa-moon"></span>
      <span class="nav-text">Dark Mode</span>
    </a>
    <!-- End: Navigation -->
  </aside>
  <!-- End: Sidebar -->
