<!--Start Aside-->
<aside class="d-flex h-100 flex-column body-bg border border-primary">
  <!--brand logo-->
  <div class="brand align-items-center justify-content-center p-4 sidebar-icon">
    <span class="fas fa-light fa-heart-pulse text-primary icon-size me-2"> </span>
    <span class="text-secondary font-size-aside">FITTLE</span>
  </div>
  <!--End brand logo-->
  <!--Start Nav-->
  <div class="d-flex  flex-column h-100 flex-grow-1">
    <ul class="nav flex-column">
      <li class="nav-item d-flex align-items-center justify-content-center m-0">
        <a class="nav-link d-flex flex-column active w-100 text-center py-3" href="#">
          <span class="mb-3 bi bi-c-circle  text-primary"></span>
          <span class="text-primary">Dashboard</span>
        </a>
      </li>
      <li class="nav-item d-flex align-items-center justify-content-center m-0">
        <a class="nav-link d-flex flex-column w-100 text-center py-3" href="#">
          <span class="mb-3 fas fa-thin fa-house-chimney"></span>
          <span>Mysubscription</span>
        </a>
      </li>
      <li class="nav-item d-flex align-items-center justify-content-center m-0">
        <a class="nav-link d-flex flex-column w-100 text-center py-3" href="#">
          <span class="mb-3 fas fa-regular fa-building-columns"></span>
          <span>Mystudio</span>
        </a>
      </li>
      <li class="nav-item d-flex align-items-center justify-content-center m-0">
        <a class="nav-link d-flex flex-column w-100 text-center py-3" href="#">
          <span class="mb-3 fas fa-duotone fa-clipboard "></span>
          <span>PostAJob</span>
        </a>
      </li>
      <li class="nav-item d-flex align-items-center justify-content-center m-0">
        <a class="nav-link d-flex flex-column w-100 text-center py-3" href="#">
          <span class="mb-3 fas fa-light fa-calendar"></span>
          <span>MyEvents</span>
        </a>
      </li>
      <li class="nav-item d-flex align-items-center justify-content-center m-0">
        <a class="nav-link d-flex flex-column w-100 text-center py-3" href="#">
          <span class="mb-3 fas fa-duotone fa-bell"></span>
          <span>Notification</span>
        </a>
      </li>
      <li class="nav-item d-flex align-items-center justify-content-center m-0">
        <a class="nav-link d-flex flex-column w-100 text-center py-3" href="#">
          <span class="mb-3 fas fa-thin fa-gear "></span>
          <span>Setting</span>
        </a>
      </li>
      <li class="nav-item d-flex align-items-center justify-content-center m-0">
        <a class="nav-link d-flex flex-column w-100 text-center py-3" href="#">
          <span class="mb-3 fas fa-thin fa-gear "></span>
          <span>Setting</span>
        </a>
      </li>
      <li class="nav-item d-flex align-items-center justify-content-center m-0">
        <a class="nav-link d-flex flex-column w-100 text-center py-3" href="#">
          <span class="mb-3 fas fa-thin fa-gear "></span>
          <span>Setting</span>
        </a>
      </li>
      <li class="nav-item d-flex align-items-center justify-content-center m-0">
        <a class="nav-link d-flex flex-column w-100 text-center py-3" href="#">
          <span class="mb-3 fas fa-thin fa-gear "></span>
          <span>Setting</span>
        </a>
      </li>
      <li class="nav-item d-flex align-items-center justify-content-center m-0">
        <a class="nav-link d-flex flex-column w-100 text-center py-3" href="#">
          <span class="mb-3 fas fa-thin fa-gear "></span>
          <span>Setting</span>
        </a>
      </li>
      <li class="nav-item d-flex align-items-center justify-content-center m-0">
        <a class="nav-link d-flex flex-column w-100 text-center py-3" href="#">
          <span class="mb-3 fas fa-thin fa-gear "></span>
          <span>Setting</span>
        </a>
      </li>
    </ul>
  </div>
  <!--End Nav-->
</aside>
<!--End Aside-->