<p>booking-history-user works!</p>

<div class="pt-4 px-4">
    <div class="overflow-auto" style="height:600px ;" infinite-scroll [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="0" [scrollWindow]="false" (scrolled)="onScroll()">
        <table class="table table-success table-striped">
            <thead>
                <tr class="position-sticky top-0">
                    <th scope="col">Id</th>
                    <th scope="col">Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Book On</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let items of studio index as i">
                    <td scope="row">{{i+1}}</td>
                    <td>{{items.studioBookingDate | date: 'dd'}} <br>{{items.studioBookingDate | date:'MMM'}}</td>
                    <td>You booked <b> {{items.studioName}}</b> {{items.studioType}}</td>
                    <td>Book On.{{items.bookOnDate | date: 'M/dd/yyyy'}}</td>
                </tr>
                <tr *ngFor="let items of artist index as i">
                    <td scope="row">{{i+1}}</td>
                    <td>{{items.artistBookingDate | date: 'dd'}}<br>{{items.artistBookingDate | date: 'MMM'}}</td>
                    <td><b> {{items.artistName}}</b> Booked For Event.</td>
                    <td>Book On.{{items.artistBookOnDate | date: 'M/dd/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>