<div class="d-flex h-100 w-100 bg-color">
    <img src="../../../../assets/images/login_bg.png" height="100%" width="50%">
    <div class="d-flex flex-column w-100 p-4 align-items-center justify-content-center">
        <img class="logo" src="../../../../assets/images/logo1.png">
        <div>
            <form class="rounded border p-3" [formGroup]="registrationForm">
                <h4 class="text-white text-center font-weight-normal mb-3">Create Account</h4>
                <input type="text" class="form-control mb-3" placeholder="Firstname" formControlName="firstname">
                <input type="text" class="form-control mb-3" placeholder="Lastname" formControlName="lastname">
                <input type="text" class="form-control mb-3" placeholder="Email" formControlName="emailId">
                <input type="password" class="form-control mb-3" placeholder="Password" formControlName="password">
                <button class="form-control bg-login text-white mb-3 border-0" type="button" (click)="onRegister()">Create Account</button>
                <div class="text-center text-white mb-4">
                    Already Logged In???
                    <a routerLink="../login" class="text-danger">Click Here</a>
                </div>
            </form>
        </div>
    </div>
</div>