<p>home works!</p>
<div>
    <div class="row">
        <div class="col-6">
            <h2>All Artist</h2>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <div class="navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item" ngbDropdown>
                                <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
                                    Instrumental play
                                </a>
                                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
                                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
                                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else
                                        here</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-4">
                    <div class="navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item" ngbDropdown>
                                <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
                                    City
                                </a>
                                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
                                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
                                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else
                                        here</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-4">
                    <div class="navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item" ngbDropdown>
                                <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
                                    State
                                </a>
                                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
                                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
                                    <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else
                                        here</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>