<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="d-flex h-100">
  <!--Start Aside-->
  <aside class="d-flex h-100 flex-column border border-primary">
    <app-sidbar></app-sidbar>
  </aside>
  <!--End Aside-->
  <!--Start section-->
  <section class="border border-primary d-flex flex-column flex-grow-1">
    <!--Start header-->
    <header class="border border-success d-flex align-items-center justify-content-between w-100">
      <app-header class="w-100"></app-header>
    </header>
    <!--End header-->
    <!--Start main-->
    <main class="flex-grow-1 d-flex border">
      <app-card></app-card>
    </main>
    <!--Start footer-->
    <div class="border border-success">
      <app-footer></app-footer>
    </div>
    <!--End footer-->
    <!--End main-->
  </section>
  <!--End section-->
</div>