<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <app-sidbar></app-sidbar> -->

<!-- <app-header></app-header> -->
<!-- <app-main></app-main> -->
<app-mastercomponent></app-mastercomponent>
<!-- <app-sidbar></app-sidbar> -->
<!-- <app-twoway-binding></app-twoway-binding> -->
<!-- <h3>Component Angular</h3> -->

<!-- <app-parent></app-parent> -->
<!-- <app-desc-to-inc></app-desc-to-inc> -->
<!-- <app-login></app-login> -->
<!-- <app-header></app-header> -->
