<div class="d-flex flex-column h-100">
    <img src="../../assets/images/contact.jpg" height="400px" width="100%">
    <!-- contact form: start -->
    <div class="d-flex justify-content-center align-items-center flex-column flex-grow-1">
        <h3 class="text-center text-primary">We want to here you</h3>
        <form class="border rounded p-3 mt-3">
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                <!-- <span class="bi bi-person-fill position-absolute top-50 start-0 bottom-50"></span> -->
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Email">
            </div>
            <div class="mb-3">
                <textarea class="form-control" rows="3" placeholder="Your Query"></textarea>
            </div>
            <button type="button" class="form-control bg-secondary text-white">Submit</button>
        </form>
    </div>
    <!-- contact form: end -->
    <div class="contact-footer d-flex justify-content-between bg-primary1 align-items-center text-white py-2 px-3">
        <div class="text-center">
            <p>Call Us</p>
            <p><span class="bi bi-telephone-fill me-2"></span>9512237887</p>
        </div>
        <div class="text-center">
            <p>Email Us</p>
            <p><span class="bi bi-envelope-fill me-2"></span>almirashaikh1999@gmail.com</p>
        </div>
        <div class="text-center">
            <p>Contact with Us</p>
            <p>
                <span class="bi bi-facebook me-2"></span>
                <span class="bi bi-instagram me-2"></span>
                <span class="bi bi-twitter me-2"></span>
                <span class="bi bi-envelope-fill"></span>
            </p>
        </div>
    </div>
</div>