@mixin bd-radius($value : 30px) {
   -webkit-border-radius: $value;
   -moz-border-radius: $value;
   border-radius: $value;
}

@mixin bd-shadow($top, $left, $blur, $color) {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
 }