<div class="d-flex flex-column justify-content-center align-items-center row pt-3" style="width:800px">
    <div class="d-flex  mt-2 ms-3 text-left bg-white rounded shadow py-3">
        <div>
            <h3 class="d-flex justify-content-center align-items-center">Api call in Angular</h3>
            <form class="row g-4 pt-2" #usersForm="ngForm" (ngSubmit)="onSubmit(usersForm)">
                <div class="col-md-6">
                    <label class="form-label">Name</label>
                    <input type="text" ngModel class="form-control" name="name">
                
                </div>
                <div class="col-md-6">
                    <label class="form-label">Gender</label>
                    <input type="text"  ngModel class="form-control" name="gender">
                </div>
                <div class="col-md-6">
                    <label class="form-label">DOB</label>
                    <input type="date" ngModel class="form-control" name="dob">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Salary</label>
                    <input type="text"  ngModel  class="form-control" name="salary" >
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-success me-2">Save</button>
                    <button type="submit" class="btn btn-primary">Reset</button>
                </div>
            </form>
        </div>
    </div>

</div>