<p>home works!</p>
<div class="main-container d-block d-sm-flex justify-content-between px-3">
    <h2 class="text-nowrap d-flex d-md-block justify-content-center justify-content-lg-start mx-lg-0 ">All Artists
    </h2>
    <div class="d-flex justify-content-center justify-content-lg-end ">
        <span class="me-3 select-width1 icon">
            <ng-select placeholder="Instrumental Pl.." [clearable]=false>
                <ng-option>singer</ng-option>
                <ng-option>Dj</ng-option>
                <ng-option>instument player</ng-option>
            </ng-select>
        </span>
        <span class="me-3 select-width2">
            <ng-select placeholder="State" [clearable]=false>
                <ng-option>Gujarat</ng-option>
                <ng-option>Maharashtra</ng-option>
            </ng-select>
        </span>
        <span class="select-width2">
            <ng-select placeholder="City" [clearable]=false>
                <ng-option>Bilimora</ng-option>
                <ng-option>Valsad</ng-option>
                <ng-option>Surat</ng-option>
                <ng-option>Mumbai</ng-option>
                <ng-option>Pune</ng-option>
            </ng-select>
        </span>

    </div>
</div>