<p>home works!</p>
<div class="main-container d-flex justify-content-between p-5">
    <h2>All Artists</h2>
    <div class="d-flex  justify-content-end">
        <span class="me-3 select-width1 ">
            <select class="form-control text-black">
                <option class="" selected disabled>Instrumental Pl....</option>
                <option>Surat</option>
                <option>Bilimora</option>
                <option>Valsad</option>
                <option>Navsari</option>
                <option>Mumbai</option>
                <option>Pune</option>
            </select>
        </span>
        <span class="me-3 select-width2">
            <select class="form-control">
                <option selected disabled><span class="text-secondary">City</span></option>
                <option>Surat</option>
                <option>Bilimora</option>
                <option>Valsad</option>
                <option>Navsari</option>
                <option>Mumbai</option>
                <option>Pune</option>
            </select>
        </span>
        <span class="select-width2">
            <select class="form-control">
                <option class="text-secondary" selected disabled>State</option>
                <option>Surat</option>
                <option>Bilimora</option>
                <option>Valsad</option>
                <option>Navsari</option>
                <option>Mumbai</option>
                <option>Pune</option>
            </select>
        </span>
    </div>
</div>