<h3 class="text-dark">Custom-pipes</h3>

<p class="text-danger">Currency Pipe</p>
<table class="border">
    <thead class="border">
        <tr>
            <th>Country Name</th>
            <th>Currency</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>US</td>
            <td>{{123 | currencyPipe:'US'}}</td>
        </tr>
        <tr>
            <td>INDIA</td>
            <td>{{123 | currencyPipe:'IND'}}</td>
        </tr>
        <tr>
            <td>EUROPE</td>
            <td>{{123 | currencyPipe:'EUR'}}</td>
        </tr>
    </tbody>
</table>