select {
    appearance: none;
    background-image: url("../../image/Vector\ \(1\).png");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
}

select:not([disabled]) {
    color: $secondary;
}

.select-width1 {
    width: 170px;
}

.select-width2 {
    width: 100px;
}