<div class="d-flex h-100">
    <div class="d-flex h-100 me-4 align-items-center ms-5">
        <img src="../../assets/images/home_bg.png" class="shadow">
    </div>
    <div class="d-flex h-100 me-4 align-items-center flex-grow-1">
        <div>
            <h3 class="text-center text-primary">Explore your creativity with your personal guide</h3>
            <p class="text-primary">Get experienced expert in specialized area to get knowledge and instruction for your
                work</p>
        </div>
    </div>
</div>
<!-- 
<div class="d-none" id="user_home">
    <h3>Courses</h3>
</div> -->