  <div class="d-flex h-100">
    <app-sidbar></app-sidbar> 
    <section class="d-flex flex-column flex-grow-1 overflow-auto">
    <app-header></app-header>
    <main class="body-bg flex-grow-1 overflow-auto p-5">
        <app-ngif></app-ngif>
        <app-ngfor></app-ngfor>
        <app-ngswitch></app-ngswitch>
        <app-two-way-binding></app-two-way-binding>
        <app-event-binding></app-event-binding>
        <app-ngclass-ngstyle></app-ngclass-ngstyle>
        <app-parent></app-parent>
        <app-desc-to-inc></app-desc-to-inc>
    </main>
    </section>
  </div> 