<nav class="navbar navbar-expand-lg bg-light w-100">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarScroll">
        <!-- <h1 class="text-primary">hello</h1> -->
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink='home'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='about'>about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='pagenotfound'>pagenotfound</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='customers'>Customer</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Directive
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Component</a></li>
              <li><a class="dropdown-item" href="#">Structure</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Attribute</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex " role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
